/*----------FONTS-------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');

@import url("https://use.typekit.net/uof0mra.css");

/*------------------------------------------------*/
/*----------HTML-------------*/
/*------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', 'ariel', sans-serif;
    color:#555;
    font-size: 1.250em;
    font-weight: 300;
}

/*----------REUSABLE-------------*/

.row {
   width: 1200px;
    margin: 0 auto;
}

article {
    padding-top: 2.5em;
}

p {
    line-height: 145%;
}

/*----------HEADINGS-------------*/

h1,h2,h3 {
    text-transform: uppercase;
    word-spacing: .250em;
}

h1 {
    font-weight: 300;
    font-size: 300%;
    color: #fff;
    letter-spacing: .125em;
}

h2 {
    font-size: 150%;
    text-align: center;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    clear: both;
    content: ' ';
    height: 5px;
    width: 15%;
    background-color: #c0392b;
    margin: .5em auto;
}

h3 {
    font-size: 260%;
    letter-spacing: .125em;
    font-weight: 800;
    color: #c0392b;
}

/*----------BUTTONS-------------*/

.btn {
    padding: 10% .125em;
    border-radius: 200px;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    top: 25%;
    opacity: .8;
    border: hidden;
}

.btn-right {
    left:95%;
    margin-right: 25px;
    transform: translate(-50%);
}

.btn-left {
    margin-left: 20px;
}

.btn:hover {
    opacity: 1;
    transition: opacity .2s;
}

.arrow {
    height: 20px;
}


/*------------------------------------------------*/
/*----------HEADER-------------*/
/*------------------------------------------------*/

header {
    background-image: url(img/Background-hero-image.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-heading {
    position: absolute;
    top: 60%;
    left: 40%;  
    transform: translate(-50%,-50%);
}

.main-banner {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    height: 4em;
    margin-top: 1.250em;
}

.main-nav {
    list-style: none;
    display: flex;
    margin-top: 2.5em;
}

.main-nav li a {
    text-decoration: none;
    margin-right: 2.5em;
    color: #fff;
    text-transform: uppercase;
    border-bottom: .125em solid transparent;
    padding-bottom: .313em;
    transition: color .2s, border-bottom .2s;
}

.main-nav li a:hover {
    color: #c0392b;
    border-bottom: .125em solid #c0392b;
}

/*------------------------------------------------*/
/*----------ABOUT JAPAN ARTICLE-------------*/
/*------------------------------------------------*/

.about-body {
    text-align: center;
    margin: 1.125em 0 1.125em 5%;
    width: 90%;
}

.about-container {
    width: 720px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: .125em;
}

.about-slide {
    display: flex;
    width: 100%;
    transform: translate(0);
    transition: transform 1.5s;
}

/*------------------------------------------------*/
/*----------ART ARTICLE-------------*/
/*------------------------------------------------*/
.article-art {
    opacity: 0;
    transform: translateY(0);
    transition: 1s all ease-in-out;
}

.section-art {
    display: flex;
    font-family: 'effra','ariel',sans-serif;
    
}

.section-art img {
    max-width: 58%;
}

.culture-art {
    padding: 6% 4%;
    background-color: #EDF1F2;
    
}

.culture-appear {
    opacity: 1;
}

.culture-art p {
    margin-top: 1.5em;
}

/*------------------------------------------------*/
/*----------FOOTER-------------*/
/*------------------------------------------------*/

footer {
    background-color: #574b4b;
    margin-top: 3.5em;
    padding: 4%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-about {
    display: flex;
}

.footer-about li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 90%;
    letter-spacing: 1px;
}

.footer-about li a:hover {
    color: #c0392b;
;
    transition: color .2s;
}

.footer-social {
    display: flex;
}

.footer-social li {
    margin-right: 30px;
}

.footer-social li:last-of-type {
    margin-right: 0;
}

.footer-social li a:hover {
    opacity: .5;
    transition: opacity .3s;
}

.footer-social img {
    height: 2em;
}

footer p {
    color: #fff;
    font-size: 80%;
    text-align: center;
    margin-top: 3em;
}
