/*----------FONTS-------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');

/*------------------------------------------------*/
/*----------HTML-------------*/
/*------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', 'ariel', sans-serif;
    color:#555;
}

header {
    background-image: url(img/Background-hero-image.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
