/*----------FONTS-------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');

@import url("https://use.typekit.net/uof0mra.css");

/*------------------------------------------------*/
/*----------HTML-------------*/
/*------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', 'ariel', sans-serif;
    color:#555;
    font-size: 1.250em;
}

/*----------REUSABLE-------------*/

.row {
   width: 1200px;
    margin: 0 auto;
}

article {
    padding-top: 2.5em;
}

p {
    line-height: 145%;
}

/*----------HEADINGS-------------*/

h1,h2,h3 {
    text-transform: uppercase;
    word-spacing: .250em;
}

h1 {
    font-weight: 300;
    font-size: 250%;
    color: #fff;
    letter-spacing: .125em;
}

h2 {
    font-size: 150%;
    text-align: center;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    clear: both;
    content: ' ';
    height: 5px;
    width: 15%;
    background-color: #c0392b;
    margin: .5em auto;
}

h3 {
    font-size: 260%;
    letter-spacing: .125em;
    font-weight: 800;
    color: #c0392b;
}

/*----------BUTTONS-------------*/

.btn {
    padding: 15px 25px;
    background-color: #c0392b;
}

.btn:hover {
    opacity: .7;
    transition: opacity .2s;
}

.btn a {
    text-decoration: none;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

/*------------------------------------------------*/
/*----------HEADER-------------*/
/*------------------------------------------------*/

header {
    background-image: url(img/Background-hero-image.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.main-heading {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.main-banner {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    height: 4em;
    margin-top: 1.250em;
}

.main-nav {
    list-style: none;
    display: flex;
    margin-top: 2.5em;
}

.main-nav li a {
    text-decoration: none;
    margin-right: 2.5em;
    color: #fff;
    text-transform: uppercase;
    border-bottom: .125em solid transparent;
    padding-bottom: .313em;
    transition: color .2s, border-bottom .2s;
}

.main-nav li a:hover {
    color: #c0392b;
    border-bottom: .125em solid #c0392b;
}

/*------------------------------------------------*/
/*----------ABOUT JAPAN ARTICLE-------------*/
/*------------------------------------------------*/

.about-body {
    text-align: center;
    margin: 1.125em 0 0 5%;
    width: 90%;
}

.section-places {
    display: flex;
    margin-top: 2.5em;
}

.place-photo {
    max-width: 45%;
}

.place-big {
    overflow: hidden;
    border-radius: .4em;
}

.place-big img {
    max-width: 100%;
    opacity: .7;
    transform: scale(1.15);
    border-radius: .4em;
}

.place-big img:hover {
    transform: scale(1);
    opacity: 1;
    transition: opacity .2s, transform .2s;
}

.clousal-photo {
    display: flex;
    margin-top: 1.25em;
    max-width: 100%;

}

.clousal-photo img {
    height: 5em;
    margin-left: 2em;
    border-radius: .2em;
    border: .15em solid #c0392b;
}

.clousal-photo img:hover {
    opacity: .8;
    transition: opacity .2s;
}

.about-desc {
    text-align: center;
    width: 30%;
    margin: 2.5em auto;
}

.about-desc p {
    margin-bottom: .7em;
    font-size: 110%;
}

/*------------------------------------------------*/
/*----------ART ARTICLE-------------*/
/*------------------------------------------------*/

.section-art {
    display: flex;
    font-family: 'effra','ariel',sans-serif;
}

.section-art figure {
    max-width: 50%;
}

.section-art img {
    max-width: 100%;
}

.bonsai-art {
    padding: 6%;
    background-color: #EDF1F2;
}

